.idea/
.DS_Store
server/.DS_Store
client/.DS_Store
documentation/.DS_Store
sql/*

/node_modules
node_modules
server/node_modules
client/node_modules
server/package-lock.json
/node_modules
server/public/*

client/.pnp
client/.pnp.js
client.pnp.cjs
client/.yarn/cache
client/.yarn/unplugged
client/.yarn/install-state.gz

coverage/

mysql/
